BP_Chalupa_Filip_2017.log
BP_Chalupa_Filip_2017.aux
BP_Chalupa_Filip_2017.pdf
BP_Chalupa_Filip_2017.out
BP_Chalupa_Filip_2017.lof
BP_Chalupa_Filip_2017.toc
BP_Chalupa_Filip_2017.aux
BP_Chalupa_Filip_2017.synctex.gz
BP_Chalupa_Filip_2017.bbl
BP_Chalupa_Filip_2017.blg
